.pricing-section {
  text-align: center;
  padding: 60px 20px;
  background-color: #008B64;
  font-size: 30px;
}

.pricing-title {
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 8px;
  color: #4ECDC4;
}

.pricing-subtitle {
  font-size: 20px;
  margin-bottom: 32px;
  color: white;
  padding-top: 0px;
  padding-bottom:30px ;
}

.pricing-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
  max-width: 1200px;
  margin: 0 auto;
}
