.what-container {
  width: 100%;
  min-height: 500px;
  display: flex;
  flex-direction: row;
  background-color: #008B64;
  justify-content: space-between;
  align-items: center;
  padding: 60px 5%;
  position: relative;
  overflow: hidden;
}

.what-container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: 500px;
  background-repeat: repeat;
  opacity: 0.05;
  z-index: 1;
}

.text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 55%;
  max-width: 700px;
  z-index: 2;
}

.title {
  color: #4ECDC4;
  font-size: 42px;
  text-align: left;
  margin-bottom: 25px;
  font-weight: 700;
}

.long-text {
  font-size: 16px;
  text-align: left;
  color: white;
  line-height: 1.6;
  margin-bottom: 20px;
}

.img-container {
  width: 300px;
  height: 200px;
  background-color: #2D3142;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 2;
}

.img-container img {
  width: 120px;
  height: auto;
}

/* Media queries para responsividad */
@media (max-width: 1200px) {
  .text-container {
    width: 50%;
  }
}

@media (max-width: 992px) {
  .what-container {
    flex-direction: column-reverse;
    gap: 40px;
    padding: 50px 30px;
  }

  .text-container {
    width: 100%;
    max-width: 600px;
    align-items: center;
  }

  .title {
    text-align: center;
  }

  .long-text {
    text-align: center;
  }
}

@media (max-width: 576px) {
  .title {
    font-size: 32px;
  }

  .long-text {
    font-size: 14px;
    padding: 20px;
  }

  .img-container {
    width: 220px;
  }
}
